@import url(https://fonts.googleapis.com/css?family=Roboto:700,600,500,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,500,400);
@import url(https://fonts.googleapis.com/css?family=Google+Sans:700,600,500,400);

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	outline: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

body {
	margin: 0;
	color: rgb(64, 64, 64);
	background: #f7f7f7;
	font: 14px Roboto;
	font-weight: 400;
	line-height: 20px;
}

body a {
	text-decoration: none;
}

body > div#top_fixed {
	width: 100%;
	height: 20px;
	background: #fff;
}

body > div#nav {
	width: 100%;
	height: 60px;
	margin-top: -40px;
	padding-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.40);
	position: fixed;
	overflow: hidden;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body > div#nav > a#abrir_menu {
	width: 46px;
	height: 46px;
	float: left;
	margin: 7px;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.2s ease-out;
}

body > div#nav > a#abrir_menu:hover {
	background: #eee;
	transition: background 0.2s ease-out;
}

body > div#nav > a#abrir_menu > svg {
	width: 24px;
	height: 24px;
	margin: 11px;
	color: rgba(0, 0, 0, 0.50);
}

body > div#nav > a#titulo {
	height: 60px;
	margin-left: 60px;
	color: rgba(0, 0, 0, 0.50);
	position: absolute;
	font-size: 20px;
	display: flex;
	align-items: center;
}

body > div#nav > a#cerrar_menu > div {
	width: 100%;
	height: 100%;
	margin-top: -20px;
	padding-top: 20px;
	background: none;
	position: fixed;
	visibility: hidden;
	cursor: default;
	transition: background 0.2s ease-out, visibility 0.2s ease-out;
}

body > div#nav:target > a#cerrar_menu > div {
	width: 100%;
	height: 100%;
	margin-top: -20px;
	padding-top: 20px;
	background: rgba(0, 0, 0, 0.50);
	position: fixed;
	visibility: visible;
	cursor: pointer;
	transition: background 0.2s ease-out;
}

body > div#nav > div#menu {
	width: 240px;
	height: 100%;
	margin-top: -20px;
	padding-top: 20px;
	margin-top: 0px;
	margin-left: -240px;
	background: #fff;
	position: fixed;
	font-weight: 500;
	overflow: hidden;
	transition: width 0.2s ease-out, margin-left 0.2s ease-out, box-shadow 0.2s ease-out;
}

body > div#nav:target > div#menu {
	margin-left: 0px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.30), 0px 0px 10px rgba(0, 0, 0, 0.20);
}

body > div#nav > div#menu > div#cabecera {
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #eee;
}

body > div#nav > div#menu > div#cabecera > a {
	color: rgba(0, 0, 0, 0.40);
	background: #fff;
	font-size: 30px;
	display: block;
	line-height: 120px;
	text-align: center;
}

body > div#nav > div#menu > div#opciones {
	width: 100%;
	height: calc(100% - 120px);
	overflow: auto;
}

body > div#nav > div#menu > div#opciones > a {
	margin-right: 20px;
	padding: 15px 20px 15px 20px;
	color: rgba(0, 0, 0, 0.50);
	background: #fff;	
	border-radius: 0px 30px 30px 0px;
	display: block;
    white-space: nowrap;
	overflow: hidden;
	transition: background 0.2s ease-out;
}

body > div#nav > div#menu > div#opciones > a:hover {
	background: #f5f5f5;
	transition: background 0.2s ease-out;
}

body > div#nav > div#menu > div#opciones > a > svg {
	width: 24px;
	height: 24px;
	float: left;
	margin-top: -4px;
	margin-left: -3px;
	margin-right: 20px;
	color: rgba(0, 0, 0, 0.50);
}

body > div#nav > div#menu > div#opciones > a#separador {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #eee;
}

body > div#nav > div#menu > div#opciones > a#actual {
	color: #4687f4;
	background: #eee;
}

body > div#tarjetas {
	width: 100%;
	margin-top: 78px;
}

body > div#tarjetas > div#tarjeta {
	width: calc(100% - 30px);
	max-width: 1000px;
	min-width: 150px;
	margin: 0 auto;
	margin-bottom: 15px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.40);
	transition: box-shadow 0.2s ease-out, width 0.2s ease-out;
}

body > div#tarjetas > div#tarjeta:hover {
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.40);
	transition: box-shadow 0.2s ease-out;
}

body > div#tarjetas > div#tarjeta > div#imagen {
	width: 40px;
	height: 40px;
	float: left;
	margin: 15px 15px 15px 15px;
	background: #fff;
	background-size: cover;
	border-radius: 50%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	
body > div#tarjetas > div#tarjeta > div#titulo > p {
	margin: 0px;
	padding: 15px;
}

body > div#tarjetas > div#tarjeta > div#titulo > p > a {
	color: rgba(0, 0, 0, 0.40);
	font-weight: 500;
}

body > div#tarjetas > div#tarjeta > div#texto > p {
	margin: 0px;
	padding: 15px;
	border-radius: 0px 0px 8px 8px;
	transition: background 0.5s ease-out;
}

body > div#tarjetas > div#tarjeta > div#texto > p:active {
	background: #f5f5f5;
	transition: background 0.5s ease-out;
}

body > div#tarjetas > div#tarjeta > div#texto > p > a {
	color: #4687f4;
	transition: color 0.2s ease-out;
}

body > div#tarjetas > div#tarjeta > div#texto > p > a:hover {
	color: #376bbf;
	transition: color 0.2s ease-out;
}

@media screen and (min-width: 350px) {
	body > div#nav > div#menu {
		width: 280px;
		margin-left: -280px;
	}
}

@media screen and (min-width: 400px) {
	body > div#nav > div#menu {
		width: 300px;
		margin-left: -300px;
	}
}

@media screen and (min-width: 700px) {
	body > div#tarjetas > div#tarjeta {
		width: 80%;
	}
}

@media screen and (min-width: 850px) {
	body > div#tarjetas > div#tarjeta {
		width: 70%;
	}
}

@media screen and (min-width: 1000px) {
	body > div#tarjetas > div#tarjeta {
		width: 60%;
	}
}
