@import url(https://fonts.googleapis.com/css?family=Roboto:900,700,500,400,300);

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
	outline: none !important;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

body {
	margin: 0;
	background: #f7f7f7;
}

body, input, textarea, select, option, button {
	font: 14px Roboto;
	font-weight: 400;
	line-height: 20px;
	color: rgb(64, 64, 64);
}


body > div#barra {
	width: 100%;
	height: 60px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.40);
	-webkit-user-select: none; /* No seleccionable ---> */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;         /* <--- No seleccionable */
}

body > div#barra > a#abrir_menu {
	width: 46px;
	height: 46px;
	float: left;
	margin: 7px;
	border-radius: 50%;
	transition: background 0.2s ease-out;
	cursor: pointer;
}

body > div#barra > a#abrir_menu:hover {
	background: #eee;
	transition: background 0.2s ease-out;
}

body > div#barra > a#abrir_menu > svg {
	width: 24px;
	height: 24px;
	margin: 11px;
	color: rgba(0, 0, 0, 0.50);
}

body > div#barra > div#titulo {
	height: 60px;
	float: left;
	display: flex;
	align-items: center;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.60);
}

body > div#barra > div#cabeza_menu {
	width: 300px;
	height: 100%;
	margin-top: 0px;
	margin-left: -300px;
	background: #fff;
	font-weight: 500;
	transition: margin-left 0.2s ease-out, box-shadow 0.2s ease-out;
}

body > div#barra > div#menu {
	width: 300px;
	height: 100%;
	margin-top: 0px;
	margin-left: -300px;
	top: 120px;
	background: #fff;
	overflow: auto;
	font-weight: 500;
	transition: margin-left 0.2s ease-out;
}

body > div#barra:target > div#cabeza_menu {
	margin-left: 0;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.30), 0px 0px 10px rgba(0, 0, 0, 0.20);
}

body > div#barra:target > div#menu {
	margin-left: 0;
}

body > div#barra > a#cerrar_menu > div {
	width: 100%;
	height: 100%;
	background: none;
	position: fixed;
	visibility: hidden;
	transition: background 0.2s ease-out, visibility 0.2s ease-out;
	cursor: default;
}

body > div#barra:target > a#cerrar_menu > div {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.50);
	position: fixed;
	visibility: visible;
	transition: background 0.2s ease-out;
	cursor: pointer;
}

body > div#barra > div#cabeza_menu > label {
	height: 120px;
	color: #fff;
	background: #4687f4;
	font-size: 30px;
	display: block;
	line-height: 120px;
	text-align: center;
}

body > div#barra > div#menu > a {
	padding: 15px 20px 15px 20px;
	color: rgba(0, 0, 0, 0.60);
	background: #fff;
	font-size: 14px;
	display: block;
	text-decoration: none;
	transition: background 0.2s ease-out;
}

body > div#barra > div#menu > a:hover {
	background: #eee;
	transition: background 0.2s ease-out;
}

body > div#barra > div#menu > a > svg {
	width: 24px;
	height: 24px;
	float: left;
	margin-top: -1%;
	margin-right: 20px;
	margin-left: -3px;
	color: rgba(0, 0, 0, 0.50);
}

body > div#barra > div#menu > a#actual {
	color: #4687f4;
	background: #eee;
}

body > div#barra > div#menu > a#separador {
	padding: 0px;
	border-bottom: 1px solid #eee;
}

body > div#tarjeta {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.40);
	transition: box-shadow 0.2s ease-out;
}

body > div#tarjeta:hover {
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.40);
	transition: box-shadow 0.2s ease-out;
}

body > div#tarjeta > a.round {
	width: 40px;
	height: 40px;
	float: left;
	margin: 20px 20px 20px 20px;
	background: #fff;
	border-radius: 50%;
	background-size: cover;
	-webkit-user-select: none; /* No seleccionable ---> */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;         /* <--- No seleccionable */
}
	
body > div#tarjeta > div#titulo {
	margin: 0px;
	padding: 20px;
}

body > div#tarjeta > div#titulo > a {
	color: rgba(0, 0, 0, 0.40);
	font-weight: 500;
}

body > div#tarjeta > p {
	margin: 0px;
	padding: 20px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	transition: background 0.5s ease-out;
}

body > div#tarjeta > p:active {
	background: #f5f5f5;
}
